@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;500;600;700;800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}


:root{
    --main-clr:#F83737;
    --white-clr:#ffffff;
    --main-clr2:#FFAE5d;
    --start-clr:#ffc21f;
}

body{
    font-family: 'Inter', sans-serif;
}

header{
    height: 100vh;
    width: 100%;
    padding: 30px 50px;
    background-image: linear-gradient(#051937a3, #051937a3),url('../images/bg.jpeg');
    background-size: cover;
    background-position: center;
    
}
header .navbar{
    display: flex;
    justify-content: space-between;
}
header .logo{
    font-size: 25px;
    color: #fff;
    font-weight: 100;
    letter-spacing: 1px;
    padding: 20px 0;
}
header .logo span{
    font-weight: bold;
}

header .navbar ul li{
    display: inline-block;
    padding: 0 10px;
   
}

header .navbar ul .buttons .btn{
  padding: 10px 15px;
  background-color: var(--main-clr);
  border: 1px solid var(--main-clr);
  color: #fff;
  transition: 0.2 ease-in-out;
  cursor: pointer;
}
header .navbar ul .buttons .btn:hover{
    background: transparent;
    color: var(--main-clr);
    border-color: var(--main-clr);
}

header .navbar ul li a{
    color: #fff;
    font-size: 16px;
    font-weight: 400px;
    word-wrap: break-word;
    transition: .1s ease-in-out;
}
header .navbar ul li a:hover,header .navbar ul li a.active{
    color: var(--main-clr);
}

/* content header  */

header .content{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 80vh;
    text-align: left;
}

header .content h1{
    font-size: 58px;
    color: #fff;
    font-weight: 400;
}

header .content h1 span{
    color: var(--main-clr2);
    font-weight: 600;
}

.show{
    display: block !important;
}

.toggle {
    position: absolute;
    top: 0;
    right: 0;
    margin: 20px 60px;
  font-size: 22px;
  cursor: pointer;
  color: #fff;
   display: none;
  border-radius: 50px;
  height: 50px;
  width: 50px;
  line-height: 50px;
  text-align: center;
}
#close{
    color: #000;
}


/* search section style */

.container{
    width: 90%;
    margin: 0 auto;
}

section {
    padding: 50px 0;
}

section.search_item {
    text-align: center;
}
section.search_item .search{
    display: flex;
    align-items: center;
    justify-content: center;

}

section.search_item .search div{
    margin: 0 30px;
}

section.search_item .search div:nth-child(1){
    width: 20%;
}

section.search_item .search div:nth-child(1) button{
    width: 100%;
    background: var(--main-clr);
    padding: 15px 20px;
    border: none;
    outline: none;
    border-radius: 15px;
    cursor: pointer;
    transition: .2s ease-in;
    color: #fff;
}
section.search_item .search div:nth-child(1) button:hover{
    border: 1px solid var(--main-clr);
    background: transparent;
    color: var(--main-clr);
}

section.search_item .search div:nth-child(2){
    width: 80%;
}

section.search_item .search div:nth-child(2) input{
    width: 100%;
    padding: 13px;
    border-radius: 20px;
    border: 1px solid var(--main-clr);
    outline: none;
}
section.search_item .search div:nth-child(2) input::placeholder{
    color: var(--main-clr);
    font-size: 18px;
}


/* category */

section.category .category_navbar{
  margin: 0 auto;
  width: 100%;
  text-align: center;
  padding-bottom: 30px;
}

section.category .category_navbar ul li {
    display: inline-block;
    margin: 0 5px;
}

section.category .category_navbar ul li a{
    color: #606060;
    font-size: 14px;
    font-weight: 500;
    transition: .2s ease-in-out;
}

section.category .category_navbar ul li a:hover{
    color: var(--main-clr);
}

section.category .cards{
    display: flex;
    justify-content: space-between;
}

section.category .cards .card{
    width: 33.33%;
    margin: 20px;
    position: relative;
    cursor: pointer;
    transition: .5s ease-in;
}
section.category .cards .card:hover{
    scale: .9;
}
section.category .cards .card img{
    width: 100%;
    height: 250px;

}


section.category .cards .card .img::before{
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(5,0,9,0.719);
} 

section.category .cards .card .text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 24px;
    color: var(--white-clr);
    transition: .3s ease-in-out;
}


/*  trending prdcut section  */


.trending_products .heading .title{
    color: var(--main-clr);
    margin: 10px 80px;
    position: absolute;
    font-size: 20px;
}

/* trending_items */

.trending_items{
    display: flex;
    margin-top: 80px;
}

.trending_items .item{
     padding: 10px;
     flex: 20%;
     margin: 0 10px;
     background: #EFE6E6;
     
}

.trending_items .item .item_img {
    height: 120px;
    width: 100%;
}


.trending_items .item:nth-child(odd) .item_img{
     background: rgb(248 55 55 / 29%);
}
.trending_items .item:nth-child(even) .item_img{
 background: rgb(55 190 248 / 29%);
} 

.trending_items .item .item_img img{
    height: 100px;
    width: 100px;
    margin: 0 auto;
    display: block;
}

.trending_items .item  .item_title{
    padding: 5px 0;
    color: var(--main-clr);
    font-size: 16px;
}

.trending_items .item .item_details p{
    color: #1e1e1e;
    font-size: 12px;
    font-weight: 400;
    word-wrap: break-word;
}

.trending_items .item .item_details .brand{
    padding: 20px 0;
    color: #111;
    font-size: 12px;
    font-weight: 400;
    word-wrap: break-word;
}

.trending_items .item .item_details .brand .stock{
    padding: 5px 10px;
    background: #111;
    text-align: center;
    width: 80px;
    display: block;
    margin-top: 10px;
    text-align: center;
    color: #fff;
}

.trending_items .item .review_Stars {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
}

.trending_items .item .review_Stars  .start{
    color: var(--start-clr);
}
.trending_items .item .review_Stars .review_count{
    text-align: center;
    color: #000;
     font-size: 12px;
     font-weight: 400;
}
.trending_items .item .item_btn{
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}

.trending_items .item .price{
    color: var(--main-clr);
}
.trending_items .item .item_btn button{
    padding: 8px 10px;
    background: var(--main-clr);
    color: #fff;
    border: 1px solid var(--main-clr);
    transition: .2s ease-in;
    outline: none;
    cursor: pointer;
}

.trending_items .item .item_btn button:hover{
    border: 1px solid var(--main-clr);
    color: var(--main-clr);
    background: transparent;
}


/*  infinix_banner  banner  */

.infinix_banner .banner{
    width: 100%;
}

.infinix_banner .banner img{
    width: 100%;
}


/* mob_section */

section.mob_section{

}
section.mob_section .heading .title{
    color: var(--main-clr);
    margin: 10px 80px;
    position: absolute;
    font-size: 20px;
}
.mobiles{
    display: flex;
    margin-top: 100px;
    background: rgba(135, 207, 235, 0.308);
    gap: 30px;
    padding: 30px;
}
.mobiles .mobile_item{
    flex: 25%;
    padding: 0 5px;
    position: relative;
}

.mobiles .mobile_item img{
    width: 100%;
}
.mobiles .mobile_item .mob_details .title{
    display: block;
    padding: 15px 0;
    color: var(--main-clr);
    font-weight: bolder;

}

.mobiles .mobile_item .mob_details p{
     font-size: 13px;
     padding: 10px 0;
}
.mobiles .mobile_item .mob_details .info{
    font-size: 13px;
}
.mobiles .mobile_item .mob_details .stock{
    display: block;
    padding: 5px 10px;
    background: #111;
    color: #fff;
    font-size: 12px;
    width: 100px;
    text-align: center;
}


.mobiles .mobile_item .mob_details .rating{
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}
.mobiles .mobile_item .mob_details .rating .stars{
    color: var(--start-clr);
}

.mobiles .mobile_item .mob_details  .review{
    font-size: 13px;
}


.mobiles .mobile_item .action {
    display: flex;
    justify-content: space-between;
}
.mobiles .mobile_item .action  .price{
    color: var(--main-clr);
}

.mobiles .mobile_item .action .buy_now button {
    padding: 7px 10px;
    border: none;
    outline: none;
    background-color: var(--main-clr);
    color: #fff;
    border: 1px solid var(--main-clr);
    cursor: pointer;
    transition: .2s ease-in;
}

.mobiles .mobile_item .action .buy_now button:hover{
    border: 1px solid var(--main-clr);
    color: var(--main-clr);
    background-color: transparent;
}

.mobiles .mobile_item:nth-child(1)::before,
.mobiles .mobile_item:nth-child(2)::before,
.mobiles .mobile_item:nth-child(3)::before{
    content: '';
    height: 70%;
    width: 1px;
    background: #1e1e1e;
    position: absolute;
    right: 0;
    top: 30px;
    margin-right: -15px;
}


/* defector_store */

section.defector_store .heading{
    width: 300px;
    text-align: center;
    margin: 0 auto;
}

.my_store{
    display: flex;
    margin-top: 50px;
}

section.defector_store .heading .title{
     color: var(--main-clr);font-size: 20px;
}

section.defector_store .store_item{
    width: 20%;
    padding: 10px;
}

section.defector_store .store_item img{
    width: 100%;
}

section.defector_store .my_store .store_item .details .title{
    padding: 8px 0;
    color: var(--main_clr);
    font-size: 16px;
}
section.defector_store .my_store .store_item .details p{
    font-size: 12px;
}
section.defector_store .my_store .store_item .details .brand{
    padding: 15px 0;
    font-size: 13px;
}

section.defector_store .my_store .store_item .details  .stock{
    display: block;
    padding: 5px 10px;
    background: #111;
    color: #fff;
    text-align: center;
    width: 100px;
    margin-top: 10px;
}

section.defector_store .my_store .store_item .details  .rating{
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    font-size: 15px;
}
section.defector_store .my_store .store_item .details  .rating .star span{
  color: var(--start-clr);
} 




/* advertise */

.advertise .adds{
    display: flex;
    gap: 20px;
}

.advertise .adds  div img{
    width: 100%;
    height: 400px;
}


/* toy_accessroes */

.toy_accessroes .heading .title{

    font-size: 20px;
    color:var(--main-clr);
}

.toy_accessroes {
    margin-top: 60px;
}

.accessories {
    display: flex;
    gap: 30px;
}

.accessories div{
    flex: 20%;
    justify-content: center;
    align-self: center;
}
.accessories div img{
    width: 100%;
}

/* searche_item */

section.searche_item .heading .title{
    font-size: 20px;
    font-weight: bold;
    color: var(--main-clr);
    padding: 30px 0;
}
.searche_item .search_items{
    display: flex;
    margin-top: 60px;
}

.searche_item .search_items div{
    flex: 15%;
    justify-content: center;
    align-items: center;
}

.search_items div img{
    width: 100%;
}



section.brand{
    padding: 20px;
}

.brand .content{
    text-align: center;
    padding: 30px 0;
}

.brand .content .tag_line{
    padding: 20px 0;
}

.brands{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.brand  div{
    margin:   0 20px;
}


/* footer */

.footer {
    padding: 30px 50px;
    background: var(--main-clr);
    color: #ffffff;
}

.footer footer{
    display: flex;
    justify-content: space-between;
}

.footer footer div ul li {
    display: inline-block;
    margin: 0 20px;
}
.footer footer div ul li a{
    color: #fff;
}


.select{
    display: flex;
}
.select div{
    margin: 0 5px;
}


/* Scrol animation */

.reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 1s all ease;
  }
  
  .reveal.active{
    transform: translateY(0);
    opacity: 1;
  }